
h2, h3, h5 {
  color: #f2f2f2;
}

.main_area {
  margin: auto auto;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  background:	#2d2d2d;
}

.main_area button {
  margin: 20px;
}

.tilmeld{
  display: none;
}

.form-text {
  margin: 5px auto;
}

.student {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  transition: .5s ease;
  margin: 15px 0;
}

.student:hover {
  background-color: #f2f2f2;
  color: #2d2d2d;
}

#welcome_text {
  margin: 20px;
}

#inRoom, #roomAsTeacher {
  display: none;
}

#CTA_InRoom {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
